{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% url 'css1' %}"">
  <script src=" //code.jquery.com/jquery.min.js"></script>
  <script src={% static "1.js" %}> </script>
  <script>
    $(function () {
      $("#nav-bar").load('{% url "navbarlog" %}');
    });
  </script>
  <script>
    $(function () {
      $("#foot").load('{% url "footerlog" %}');
    });
  </script>

  <title>formmodobra</title>
</head>

<body onload=" onLoad()">
  {% load crispy_forms_tags %}
  {% load static %}
  <!-- NavBar -->
  <div id="nav-bar">
  </div>
  <!-- NavBar -->
  <div class="container">
    <hr>
    <div class="row">
      <hr>
      <h1>Editar tu Obra</h1>
      <hr>
    </div>
    <hr>
    <br>
    <div class="row">

      {% block content %}
      <form method="post" action="" id="formulario">
        {% csrf_token %}
        <div class="form-group">
          {{form|crispy}}
        </div>
        <br>
        <input type="submit" class="btn btn-secondary" id="enviar" value="Modificar">
        <input type="reset" class="btn btn-danger" id="limpiar" value="Limpiar">
        <br>
        <br>
        <div id="error" class="alert alert-danger">
          {{mensaje}}
        </div>
      </form>
      {% endblock %}
    </div>
  </div>
  <br>
  <br>
  <div id="foot"></div>

</body>

</html>