{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Contactenos!</title>

  <meta charset="utf-8">
  <script src={% static "1.js" %}> </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{% url 'css1' %}"">
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js">
  </script>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src={% static "1.js" %}> </script>
  <script>
    $(function () {
      $("#nav-bar").load('{% url "navbarlog" %}');
    });
    $(document).ready(function () {
      $("#enviar").click(function () {
        alert("Su mensaje ha sido enviado. Se le dará respuesta lo antes posible por medio de correo electronico.");
      });
    });
  </script>
  <script>
    $(function () {
      $("#foot").load('{% url "footerlog" %}');
    });
  </script>
  <link rel="icon" type="image/x-icon"
    href="https://cdn.discordapp.com/attachments/960931857086693396/983892424323629066/1f40c.png">

  <script type="text/javascript">

    $(document).ready(function () {
      $("#form-cont").validate({
        rules: {
          name: {
            required: true,
            minlength: 3
          },
          email: {
            required: true,
            email: true
          }
        },
        messages: {
          name: {
            minlength: "El nombre debe ser mayor a 3 caracteres"
          },
          email: {
            email: "Su email debe estar en formato email@dominio.com"
          },
        }
      });
    });

  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      var max_length = 250;
      $('textarea').keyup(function () {
        var len = max_length - $(this).val().length;
        $('.GFG').text(len);
      });

    });

    var UXAPP = UXAPP || {};

    // paquete de validaciones
    UXAPP.validador = {};

    // método que inicia el validador con restriccion de caracteres
    UXAPP.validador.init = function () {
      // busca los elementos que contengan el atributo regexp definido
      $("input[regexp]").each(function () {
        // por cada elemento encontrado setea un listener del keypress
        $(this).keypress(function (event) {
          // extrae la cadena que define la expresión regular y creo un objeto RegExp 
          var regexp = new RegExp("^" + $(this).attr("regexp") + "$", "g");
          // evalua si el contenido del campo se ajusta al patrón REGEXP
          if (!regexp.test($(this).val() + String.fromCharCode(event.which)))
            event.preventDefault();
        });
      });
    }

    // Arranca el validador al término de la carga del DOM
    $(document).ready(UXAPP.validador.init);
  </script>
</head>

<body class="d-flex flex-column min-vh-100" onload="onLoad()">
  <!-- NavBar -->
  <div id="nav-bar">
  </div>
  <!-- NavBar -->


  <div class="container"> <a class="navbar-brand" href="{% url 'home' %}"><img src=""></a>
    <h1>Contactenos</h1>
    <br>
    <h4>Rellene la siguiente información para poder comunicarnos con usted.</h4>
    <br>

    <form id="form-cont">
      <div class="form-group">
        <label for="name" minlength="5">Nombre Completo:</label>
        <input type="text" class="form-control" id="name" placeholder="Introduzca su Nombre" name="name" required
          minlength="5" maxlength="50" required pattern="[A-Za-z].{5,}">
        <span class="validity"></span>
      </div>
      <div class="form-group">
        <label for="email">Correo Electronico:</label>
        <input type="email" class="form-control" id="email" placeholder="Introduzca su Correo" name="email" required>
        <span class="validity"></span>
      </div>
      <div class="form-group">
        <label for="phone">Numero de telefono:</label>
        <input type="tel" class="form-control" id="phone" placeholder="Introduzca su numero" name="phone" required
          pattern="[0-9]{1,3}[0-9]{4}[0-9]{4}">
        <span class="validity"></span>
      </div>
      <div class="form-group">
        <label for="name">Asunto:</label>
        <input type="text" class="form-control" id="Asunto" placeholder="Asunto del Comunicado" name="asunto" required
          pattern="[A-Za-z].{3,}" spellcheck="true">
        <span class="validity"></span>
      </div>
      <div class="form-group">
        <label for="comment">Mensaje:</label>
        <textarea class="form-control" maxlength="250" rows="3" cols="145" spellcheck="true" required></textarea>
        <span class="GFG">250</span>
      </div>
      <div>
          <button type="submit" class="btn btn-default btn-secondary submit" id="enviar"
          value="submit">Enviar</button>
      </div>
    </form>
  </div>
  <br>
  <div id="foot"></div>


  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script>
    tippy('#name', {
      content: 'Asegurese de ingresar su 1er nombre, 2do nombre, 1er apellido y 2do apellido.',
      animation: 'fade',
      followCursor: true,
    });
    tippy('#email', {
      content: 'Asegurese de que su correo tenga un "@".',
      animation: 'fade',
      followCursor: true,
    });
    tippy('#phone', {
      content: 'Debe estar compuesto de solo numeros y debe conter "9" al comienzo.',
      animation: 'fade',
      followCursor: true,
    });
  </script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>