.btn-outline-success,.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
  border-color: rgb(185, 79, 203);
  color:rgb(185, 79, 203);
  transition-duration: 2s;
  animation-name: colorTransition;
}

@keyframes colorTransition 
{
  from 
  {
  background-color: #FFFFFF;
  }
  to 
  {
  background-color: #FFFFFF;
  }
}

body
{
  background-color: white;
}
.footer1{
  color:white;
  display: inline;
}
.imgmember1{
  width: 40%;
  height: 40%;
}
.imgmember2{
  width: 30%;
  height: 30%;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.h1aboutus{
  color: white;
}
.hrabout{
  border-color: grey;
}
.border-10{
  border-style:solid;
  border-width: 10px;
  }
.afooter ,.afooter:visited ,.afooter:hover ,.afooter:active{
  text-decoration: none;
  color: white;; 
  padding-left: 1%;  
}

.abutton ,.abutton:visited ,.abutton:hover ,.abutton:active{
  text-decoration: none;
  color: black;; 
}

.listadoboton{
  position: absolute !important;
  padding-left: 53.2%;
  padding-top: 5%;
  margin: auto;
}

.fotolistado{
  width: 20%;
  height: 20%;
}